@model DynamicLinqWebDocs.Models.Keyword

@{
    ViewBag.Title = Model.Name + " Keyword";
}

@Html.ActionLink("Back to Expressions", "Index", "Expression", null, new { @class = "btn btn-xs btn-default" })

<h2>@Model.Name <small>Keyword</small></h2>

@Html.FormatMarkdown(Model.Description)

@Html.DisplayFor(x => x.Remarks, "Remarks")
@Html.DisplayFor(x => x.Examples, "Examples")