@{
    ViewBag.Title = "Downloads";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="@Settings.GitHubLink" target="_blank"><img src="@Settings.GitHubLogo" style="height:50px" alt="GitHub Logo" /><img src="@Settings.GitHubLogoText" style="height:50px" alt="GitHub" /></a> - Source Code</div>
            <div class="panel-body">
                <p><a href="@Settings.GitHubLink/releases/latest" target="_blank">Get the Latest Release</a></p>
                <p><a href="@Settings.GitHubLink/releases" target="_blank">All Release</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="@Settings.NugetLink" target="_blank"><img src="@Settings.NugetLogo" style="height:50px" alt="NuGet" /></a> - Binaries</div>
            <div class="panel-body">
                <p><a href="@Settings.NugetLink" target="_blank">NuGet</a> is the package manager for this project. The NuGet client tools provide an easy way for developers to consume it.</p>
                <p>Use NuGet to incorperate Dynamic LINQ into your Visual Studio project.</p>
            </div>
        </div>
    </div>
</div>