@{
    ViewBag.Title = "Project Info";
}
<h2>@ViewBag.Title</h2>

<p>Project owners can be contacted by any of the various methods:</p>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="@Settings.GitHubLink" target="_blank"><img src="@Settings.GitHubLogo" style="height:50px" alt="GitHub Logo" /><img src="@Settings.GitHubLogoText" style="height:50px" alt="GitHub" /></a></div>
            <div class="panel-body">
                <p><a href="@Settings.GitHubLink" target="_blank">GitHub</a> hosts the source code and bug tracking for this Dynamic LINQ project.</p>
                <p><a href="@Settings.GitHubIssues" class="btn btn-danger" target="_blank">Report an issue</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="@Settings.NugetLink" target="_blank"><img src="@Settings.NugetLogo" style="height:50px" alt="NuGet" /></a></div>
            <div class="panel-body">
                <p><a href="@Settings.NugetLink" target="_blank">NuGet</a> is the package manager for this project. The NuGet client tools provide an easy way for developers to consume it.</p>
                <p>Use NuGet to incorperate Dynamic LINQ into your Visual Studio project.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><img src="@Settings.LinkedinLogo" style="height:50px" alt="LinkedIn" target="_blank" /> <span style="white-space:nowrap">Active Developers</span></div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><a href="https://www.linkedin.com/pub/..." target="_blank">Stef Heyenrath</a> (Lead Developer)</li>
                </ul>
            </div>
        </div>
    </div>
</div>